<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.6.0 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8e666e9d9eb1b9106776ed222b9342f:ac7608d1f04ab193bff21724566c15eb:d3d9ca2375be85e50df23e2c87410bb2$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>sprites.1@2x.png</string>
                <key>size</key>
                <string>{2046,1857}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <true/>
                        <key>name</key>
                        <string>Background@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{2044,1536}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{2044,1536}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0015@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{23,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{187,324}</string>
                        <key>textureRect</key>
                        <string>{{1,1539},{159,317}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0016@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{23,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{187,324}</string>
                        <key>textureRect</key>
                        <string>{{1,1539},{159,317}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0001@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{16,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{187,324}</string>
                        <key>textureRect</key>
                        <string>{{162,1539},{156,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0002@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{16,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{187,324}</string>
                        <key>textureRect</key>
                        <string>{{162,1539},{156,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0013@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{33,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{187,324}</string>
                        <key>textureRect</key>
                        <string>{{320,1539},{144,312}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0014@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{33,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{187,324}</string>
                        <key>textureRect</key>
                        <string>{{320,1539},{144,312}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0007@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{7,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{207,329}</string>
                        <key>textureRect</key>
                        <string>{{466,1539},{127,312}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0008@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{7,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{207,329}</string>
                        <key>textureRect</key>
                        <string>{{466,1539},{127,312}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0005@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{31,18}</string>
                        <key>spriteSourceSize</key>
                        <string>{207,329}</string>
                        <key>textureRect</key>
                        <string>{{595,1539},{124,310}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0006@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{31,18}</string>
                        <key>spriteSourceSize</key>
                        <string>{207,329}</string>
                        <key>textureRect</key>
                        <string>{{595,1539},{124,310}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0009@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{34,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{187,324}</string>
                        <key>textureRect</key>
                        <string>{{721,1539},{137,309}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0010@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{34,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{187,324}</string>
                        <key>textureRect</key>
                        <string>{{721,1539},{137,309}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0011@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{30,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{187,324}</string>
                        <key>textureRect</key>
                        <string>{{860,1539},{133,309}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0012@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{30,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{187,324}</string>
                        <key>textureRect</key>
                        <string>{{860,1539},{133,309}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0005@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{27,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{187,324}</string>
                        <key>textureRect</key>
                        <string>{{995,1539},{150,305}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0006@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{27,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{187,324}</string>
                        <key>textureRect</key>
                        <string>{{995,1539},{150,305}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0011@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{1,18}</string>
                        <key>spriteSourceSize</key>
                        <string>{207,329}</string>
                        <key>textureRect</key>
                        <string>{{1147,1539},{149,305}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0012@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{1,18}</string>
                        <key>spriteSourceSize</key>
                        <string>{207,329}</string>
                        <key>textureRect</key>
                        <string>{{1147,1539},{149,305}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0003@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{39,19}</string>
                        <key>spriteSourceSize</key>
                        <string>{207,329}</string>
                        <key>textureRect</key>
                        <string>{{1298,1539},{139,304}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0004@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{39,19}</string>
                        <key>spriteSourceSize</key>
                        <string>{207,329}</string>
                        <key>textureRect</key>
                        <string>{{1298,1539},{139,304}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0007@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{43,18}</string>
                        <key>spriteSourceSize</key>
                        <string>{187,324}</string>
                        <key>textureRect</key>
                        <string>{{1439,1539},{139,304}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0008@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{43,18}</string>
                        <key>spriteSourceSize</key>
                        <string>{187,324}</string>
                        <key>textureRect</key>
                        <string>{{1439,1539},{139,304}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0003@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{1,14}</string>
                        <key>spriteSourceSize</key>
                        <string>{187,324}</string>
                        <key>textureRect</key>
                        <string>{{1580,1539},{166,301}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0004@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{1,14}</string>
                        <key>spriteSourceSize</key>
                        <string>{187,324}</string>
                        <key>textureRect</key>
                        <string>{{1580,1539},{166,301}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0001@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{21,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{207,329}</string>
                        <key>textureRect</key>
                        <string>{{1748,1539},{165,300}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0002@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{21,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{207,329}</string>
                        <key>textureRect</key>
                        <string>{{1748,1539},{165,300}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0009@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{12,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{207,329}</string>
                        <key>textureRect</key>
                        <string>{{1915,1539},{127,298}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0010@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{12,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{207,329}</string>
                        <key>textureRect</key>
                        <string>{{1915,1539},{127,298}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>path</key>
                <string>sprites.1.png</string>
                <key>size</key>
                <string>{1024,968}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <true/>
                        <key>name</key>
                        <string>Background.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{1022,768}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{1022,768}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0015.png</string>
                        <key>spriteOffset</key>
                        <string>{11,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{1,771},{81,159}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0016.png</string>
                        <key>spriteOffset</key>
                        <string>{11,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{1,771},{81,159}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0001.png</string>
                        <key>spriteOffset</key>
                        <string>{10,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{104,165}</string>
                        <key>textureRect</key>
                        <string>{{84,771},{84,151}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0002.png</string>
                        <key>spriteOffset</key>
                        <string>{10,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{104,165}</string>
                        <key>textureRect</key>
                        <string>{{84,771},{84,151}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0003.png</string>
                        <key>spriteOffset</key>
                        <string>{0,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{170,771},{84,151}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0004.png</string>
                        <key>spriteOffset</key>
                        <string>{0,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{170,771},{84,151}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0001.png</string>
                        <key>spriteOffset</key>
                        <string>{8,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{256,771},{79,157}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0002.png</string>
                        <key>spriteOffset</key>
                        <string>{8,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{256,771},{79,157}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0011.png</string>
                        <key>spriteOffset</key>
                        <string>{0,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{104,165}</string>
                        <key>textureRect</key>
                        <string>{{337,771},{76,153}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0012.png</string>
                        <key>spriteOffset</key>
                        <string>{0,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{104,165}</string>
                        <key>textureRect</key>
                        <string>{{337,771},{76,153}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0005.png</string>
                        <key>spriteOffset</key>
                        <string>{13,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{415,771},{76,153}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0006.png</string>
                        <key>spriteOffset</key>
                        <string>{13,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{415,771},{76,153}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0013.png</string>
                        <key>spriteOffset</key>
                        <string>{16,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{493,771},{73,157}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0014.png</string>
                        <key>spriteOffset</key>
                        <string>{16,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{493,771},{73,157}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0003.png</string>
                        <key>spriteOffset</key>
                        <string>{19,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{104,165}</string>
                        <key>textureRect</key>
                        <string>{{568,771},{71,153}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0004.png</string>
                        <key>spriteOffset</key>
                        <string>{19,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{104,165}</string>
                        <key>textureRect</key>
                        <string>{{568,771},{71,153}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0007.png</string>
                        <key>spriteOffset</key>
                        <string>{21,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{641,771},{71,152}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0008.png</string>
                        <key>spriteOffset</key>
                        <string>{21,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{641,771},{71,152}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0009.png</string>
                        <key>spriteOffset</key>
                        <string>{17,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{714,771},{69,155}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0010.png</string>
                        <key>spriteOffset</key>
                        <string>{17,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{714,771},{69,155}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0011.png</string>
                        <key>spriteOffset</key>
                        <string>{15,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{785,771},{67,155}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0012.png</string>
                        <key>spriteOffset</key>
                        <string>{15,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{785,771},{67,155}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0007.png</string>
                        <key>spriteOffset</key>
                        <string>{3,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{104,165}</string>
                        <key>textureRect</key>
                        <string>{{854,771},{157,65}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0008.png</string>
                        <key>spriteOffset</key>
                        <string>{3,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{104,165}</string>
                        <key>textureRect</key>
                        <string>{{854,771},{157,65}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0005.png</string>
                        <key>spriteOffset</key>
                        <string>{15,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{104,165}</string>
                        <key>textureRect</key>
                        <string>{{854,838},{156,63}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0006.png</string>
                        <key>spriteOffset</key>
                        <string>{15,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{104,165}</string>
                        <key>textureRect</key>
                        <string>{{854,838},{156,63}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0009.png</string>
                        <key>spriteOffset</key>
                        <string>{6,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{104,165}</string>
                        <key>textureRect</key>
                        <string>{{854,903},{150,64}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0010.png</string>
                        <key>spriteOffset</key>
                        <string>{6,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{104,165}</string>
                        <key>textureRect</key>
                        <string>{{854,903},{150,64}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
